html {
    height: 100%;
    width: 100%;
}

header {
    height: 200px;
    width: 200px;
    font-size: large;
}

.container-bag {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border: solid teal; 
}

.container-banana {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border: solid cyan; 
}

.container-bathroom {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border: solid aquamarine;
}